@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';

$gray: rgb(25 25 25 / 50%);
$gray-light: rgb(25 25 25 / 20%);
$gray-dark: rgb(25 25 25 / 100%);

@mixin media-mobile() {
    @media (max-width: 480px) {
        @content;
    }
}

%container {
    max-width: 70rem;
    padding-right: 5rem;
    padding-left: 5rem;
    margin: 0 auto;

    @include media-mobile {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

body {
    font-family: Roboto, sans-serif;
    color: $gray-dark;

    @include media-mobile {
        font-size: 80%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    color: $gray-dark;
}
