{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "tabWidth": 4,
  "overrides": [
    {
      "files": ["*.json", "*.md"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
